@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reenie Beanie";
  src: url(./fonts/ReenieBeanie-Regular.ttf);
}

@font-face {
  font-family: 'unicode';
  src: url(./fonts/3d_unicode.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.unicode--font {
  font-family: 'unicode';
}

.reenie-beanie {
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: normal;
}

/* ----------------colors----------------------------- */

.bg--primary {
  background: linear-gradient(#FD88CE, #FBA8D6, #FFC0DF);
}

.text--secondary {
  background: linear-gradient(#FD88CE, #FBA8D6, #FFC0DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text--primary {
  color: white;
  cursor: pointer;
}


/* ----------hovers----------------------------------- */
.text--primary:hover {
  background: linear-gradient(#FD88CE, #FBA8D6, #FFC0DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 300ms ease;
}

.text-ani div {
  width: 0;
  height: 2px;
  background: linear-gradient(#FD88CE, #FBA8D6, #FFC0DF);
  transition: width 300ms ease;
}

.text-ani:hover div {
  width: 100%;
}

.text-ani2 div {
  width: 0;
  height: 2px;
  background: black;
  transition: width 300ms ease;
}

.text-ani2:hover div {
  width: 100%;
}

.logo--hover {
  transition: all 300ms ease;
}

.logo--hover div {
  transition: all 400ms ease;
}

.logo--hover:hover div {
  transform: translateX(50px);
  transform: translateY(50px);
}

.logo--hover:hover span {
  font-size: 2.4rem;

}